* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $main-font-family;
  color: $brand-color;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  list-style-type: none;
}
